
.idea/*
CSVFileLoaderComponent/target/*
AstronomKernel/target/*
AstronomCore/target/*
AstronomComponent/target/*
*.iml
AstonomDesigner/target/*
*.log
AstronomAPI/target/*
RowFilterComponent/target/*
TextFileOutputComponent/target/*
