<div class='row'>

	<div class="col-md-3">
		<div class="card bg-dark text-white">
			<div class="card-header">
				Astronom Projects
				<div class="pull-right">
					<i class="icon-button big-icon fas fa-plus-square text-success" ng-click="openProjectCreationDialog()"></i>
				</div>
			</div>
		  	<div class="card-body bg-white text-dark" style="padding: 0px;">
			  	<ul class="list-group list-group-flush ">
			    	<li class="list-group-item" 
			    		ng-repeat="project in projects" 
			    		ng-click="selectProject(project)"
			    		ng-class="{'list-group-item-action active': selectedProject == project}">
			    		{{project.name}}
			    	</li>
			  	</ul>
			 </div>
		</div>
	</div>

	<div class="col-md-4" >
		<div class="card bg-dark text-white">
			<div class="card-header">
				{{selectedProject.name}} Operations
				<div class="pull-right">
					<i class="icon-button big-icon fas fa-plus-square text-success" ng-click="createProjectOperation()"></i>
				</div>
			</div>
		  	<div class="card-body" style="padding: 0px">
			  	<ul class="list-group list-group-flush">
			    	<li class="list-group-item bg-white text-dark" 
			    	ng-repeat="operation in selectedProject.operations">
			    		<a ui-sref="operation({projectName:selectedProject.name,operationName:operation.name})" class="card-link">{{operation.name}}</a>
			    	</li>
			  	</ul>
			 </div>
		</div>
	</div>
   

    <script type="text/ng-template" id="projectCreationModal.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title"><b>Create new Project</b></h4>
        </div>
        <div class="modal-body" id="modal-body">
        	<div class="form-group">
        		<label>Project Name</label>
            	<input type="text" class="form-control" ng-model="project.name" placeholder="Project Name"></input>
        	</div>
        	<div class="form-group">
        		<label>Project Description</label>
            	<textarea class="form-control" placeholder="Project Description"></textarea>
        	</div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-sm" type="button" ng-click="createProject()">OK</button>
            <button class="btn btn-danger btn-sm" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>